html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ===================================================================================
   Header, Main, Footer
   ==================================================================================== */

/* ==========================================
   Header
   ==========================================*/

#search-nav-container > *:not(#search-form) {
  padding: 0.1rem 0.2rem;
  margin-right: 0.5rem;
  border: 0.15rem solid transparent;
  height: 100%;
}

button.search {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f08804;
  border: none;
  border-radius: 0 0.3rem 0.3rem 0;
  width: 4rem;
  right: 0.8rem;
}

#search-select {
  width: 5rem;
  color: #404040;
  border-radius: 0.3rem 0 0 0.3rem;
  cursor: pointer;
}

#search-input {
  border-radius: 0 0.3rem 0.3rem 0;
}

.fa-opencart {
  color: white;
}

#nav-cart-count {
  position: absolute;
  /* left: 13px; */
  right: 4.7rem;
  /* top: 0.2rem; */
  justify-content: center;
  color: #f08804;
  font-weight: 800;
}

.nav-line-1,
.nav-line-2 {
  font-size: 12px;
  font-weight: 500;
  color: floralwhite;
  white-space: nowrap;
}

/* ============================
   Dropdown
   ============================*/

#sign-in-dropdown {
  display: inline-block;
}
#sign-in-dropdown:hover {
  cursor: pointer;
}

#drop-down-content {
  position: absolute;
  z-index: 2;
  display: none;
  right: 2.6rem;
  top: 4rem;
  width: 37rem;
  height: 28rem;
  padding: 1rem 1rem;
  background-color: #ffffff;
  margin: 0rem;
  margin-top: 0.4rem;
  border: 0.1rem solid #c0c0c0;
  border-radius: 0.2rem;
  font-size: small;
}

#drop-down-content::before {
  content: "";
  position: absolute;
  z-index: 2;
  border-color: transparent transparent #ffffff transparent;
  border-style: solid;
  border-width: 1rem;
  width: 0;
  height: 0;
  right: 10.5rem;
  top: -1.8rem;
}

#sign-in-dropdown:hover #drop-down-content {
  display: block;
}

.drop-down-list a:hover span {
  text-decoration: underline;
  color: #f08804;
}

.drop-down-list li {
  margin: 0.5rem 0;
}

/* ==========================================
   Main
   ==========================================*/

main {
  /* max-width: 2156px; */
  margin: 0 auto;
}

#home {
  background-color: #e3e6e6;
}

.myCarousel {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  /* z-index: 1; */
}

.main-container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

/* ==========================================
   Footer
   ==========================================*/

footer {
  color: floralwhite;
  padding: 3rem 1rem;
}

footer#footer1 {
  background-color: #232f3e;
}

footer#footer2 {
  background-color: #131a22;
}

footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: underline;
}

.nav-footer-col-header {
  color: floralwhite;
  font-weight: bolder;
}

ul.nav-footer-link {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

ul.nav-footer-link li {
  margin: 0.2rem 0;
}

div.navFooter {
  max-width: 2156px;
  margin: 0 auto;
}

ul.nav-footer-link a {
  color: rgb(223, 218, 212);
}

table.navFooterMoreOnAmazon {
  max-width: 2156px;
  margin: 0 auto;
}

td.navFooterDescItem {
  padding: 1rem 1.4rem;
  max-width: 15rem;
  vertical-align: top;
}

td.navFooterDescItem a {
  color: rgb(223, 218, 212);
}

span.navFooterDescText {
  color: #928f8c;
}

/* ==========================================================================
   HTML Elements Styles
   ========================================================================== */

hr.grad {
  border: none;
  min-height: 1px;
  height: 1px;
  max-height: 1px;
  background-image: linear-gradient(to right, #00000000, #00000060, #00000000);
  /* margin-bottom: 2rem; */
}

.vl {
  border-left: 0.1rem solid #c0c0c070;
  padding-left: 3rem;
}

.vr {
  border-right: 0.1rem solid #c0c0c070;
  /* padding-right: 3rem; */
}

/* ==========================================
   Font, Color
   ==========================================*/

.grey {
  color: #828282;
}

.blue {
  color: #306faa;
}

.dark-red {
  color: #cc0c39;
  /* font-weight: bold; */
  font-weight: 300;
  /* font-size: larger; */
}

.bg-grey {
  background-color: #c0c0c080;
}

.a-price {
  font-size: 1.3rem;
  font-weight: 500;
}

.a-discout-price {
  text-decoration: line-through;
}

.a-discout-price,
.a-price-label {
  font-size: 0.8rem;
  font-weight: 300;

  color: #828282;
}

.a-price.products-search-price {
  font-size: 1.6rem;
  font-weight: 400;
}
/* 
.discount-box {
  background-color: #cc0c39;
  padding: 0.3rem 0.2rem;
  color: floralwhite;
} */

.product-details-discount,
.product-details-a-price {
  font-size: 1.8rem;
}

/* ==========================================
   Anchor
   ==========================================*/

a {
  text-decoration: none;
  color: #5e9da8;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #5e9da8;
}

a.link-disabled {
  pointer-events: none;
  cursor: default;
}

/* ==========================================
   List
   ==========================================*/

ul.no-list-style {
  list-style: none;
  padding: 0;
}

/* ==========================================
   Img
   ==========================================*/

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

img.round {
  border-radius: 50%;
}

div.img-logo {
  max-width: 10rem;
  max-height: fit-content;
}

div.img-cart {
  max-width: 2.6rem;
  max-height: fit-content;
}

div.img-xxs {
  width: 5rem;
  height: auto;
}

div.img-xs {
  width: 5rem;
  height: auto;
}

div.img-sm {
  width: 24rem;
  height: 24rem;
}

div.img-md {
  width: 32rem;
  height: 32rem;
}

div.img-lg {
  width: 45rem;
  height: 45rem;
}

div.img-xl {
  width: 60rem;
  height: 60rem;
}

div.img-xs img,
div.img-sm img,
div.img-md img,
div.img-lg img,
div.img-xl img {
  height: 100%;
  width: auto;
}

div.img-carousel {
  height: auto;
}

/* ==========================================
   Card
   ==========================================*/

.crd {
  display: flex;
  flex-direction: column;
  width: auto;
  /* min-width: 24rem; */
  /* min-height: 28rem; */
  height: 30rem;
  /* max-height: 30rem; */
  margin: 0.5rem 0;
  background-color: #ffffff;
  border-radius: 0.2rem;
  padding-bottom: 0.5rem;
  white-space: nowrap;
}

.crd > *:not(hr) {
  margin-bottom: 0.2rem;
  padding: 1rem 1rem 0 1rem;
}

.crd-body {
  flex: 1;
  /* background-color: #f08804; */
}

.crd-body img {
  /* height: 95%; */
  /* max-height: 95%; */
  /* max-width: 100%; */
  /* width: 100%; */
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* overflow: hidden; */
  /* column-gap: 0.5rem; */
  gap: 1.5rem 1rem;
  margin: 0;
  padding: 0;
  max-height: 100%;
}
.card-grid-item {
  /* max-height: 100%; */
  min-width: 0;
}

.card-grid-item img {
}

.card-grid span {
  margin: 0;
}

.crd.crd-carousel {
  height: 100%;
}

.crd.crd-carousel > .crd-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crd.crd-carousel img {
  width: auto;
  max-height: 100%;
}

.main-card-carousel img {
  min-height: 13rem;
  height: 100%;
}

/* ==========================================
   Box
   ==========================================*/

#loading-box {
  width: 99vw;
  height: 99vh;
  background-color: white;
}

#loading-box span {
  color: #1e3050;
  font-weight: 500;
  font-size: 1.2rem;
}

.box {
  border: 0.1rem solid rgb(224, 217, 217);
  border-radius: 0 0 8px 8px;
  position: relative;
  padding: 1rem 1.5rem;
}

.box.register,
.box.signin {
  max-width: 27rem;
}
.box.add-new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* min-width: 20rem; */
}
.box.use-old,
.box.add-new {
  /* max-width: 20rem; */
  min-height: 13rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  border: 0.2rem solid rgb(224, 217, 217);
}

.box.use-old:hover,
.box.add-new:hover,
.box.use-old.selected {
  border: 0.2rem solid #f1951b;
  border-radius: 0.5rem;
  background-color: #f0efef40;
  cursor: pointer;
}

.box.use-old span {
  font-size: 1.2rem;
}

/* ==========================================
   Input, Select, Table, Button
   ==========================================*/
input,
select,
textarea,
button {
  padding: 1rem;
  border: 0.1rem #a4a4a4 solid;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover,
select:hover {
  -webkit-filter: brightness(90%);
  -moz-filter: brightness(90%);
  -o-filter: brightness(90%);
  -ms-filter: brightness(90%);
  filter: brightness(90%);
  cursor: pointer;
}

select {
  margin: 0 0.7rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  min-width: 5rem;
  max-width: 10rem;
  text-align: center;
  vertical-align: middle;
}

select.cart {
  display: inline-block;
  margin-left: 0.8rem;
}

input.save-address {
  display: inline-block;
  left: 0;
}

form:not(.search, #question, .review) > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form.register input {
  height: 2.5rem;
}

form.shipping {
  max-width: 30rem;
}

form.shipping input {
  max-height: 3rem;
  width: 100%;
  border-radius: 0.2rem;
}

form.shipping label {
  font-weight: bold;
}

form.add-new {
  min-width: 30rem;
}

form.payment {
  max-width: 30rem;
}

.buy-box-qty select {
  border-radius: 1.5rem;
  font-size: 0.9rem;
}

button.rect {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  /* min-width: 15rem; */
  height: 2.5rem;
  text-align: center;
  font-size: 1rem;
}

button.create-account {
  width: 100%;
}

button.sign {
  min-width: 15rem;
}

button.yellow {
  background-color: #ffd814;
}

button.orange {
  background-color: #f1951b;
}

button.review {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 1.3rem #cecece;
  outline: none;
  margin: 1rem 0;
  width: 75%;
}

button.helpful {
  width: 8rem;
  height: 3rem;
  margin-right: 3rem;
}

.buy-box-button {
  padding: 0 1rem;
}

.buy-box-button button {
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 0.6rem;
}

button.cart,
button.shipping {
  width: 100%;
  /* max-width: 100%; */
}

button.payment-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 3rem;
  margin-left: 1rem;
  color: floralwhite;
  font-weight: bold;
  background-color: rgb(101, 67, 250);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1.3rem #cecece;
}

table.review {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-collapse: separate;
  border-spacing: 0.8rem;
}

td.filter {
  left: 2rem;
}

th.filter {
  padding-left: 2rem;
}

#buy-box-tabular tr {
  vertical-align: top;
}

#product-details-info {
  /* border-spacing: 2rem; */
  width: 100%;
}

#product-details-info tr {
  border-top: 0.1rem solid rgb(180, 180, 180);
  border-bottom: 0.1rem solid rgb(175, 175, 175);
}

#product-details-info th {
  background-color: #e0e0df;
  font-weight: 100;
  color: #6e6e6e;
  width: 50%;
}

/* ==========================================
   Rating
   ==========================================*/

.rating {
  display: inline-block;
}

i.fa-star,
i.fa-star-half-stroke {
  color: #fea21c;
  /* border: 0.1rem solid #eb9618; */
}

/* .rating span:last-child {
  margin: 0.5rem;
  color: #404040;
} */

.rating-progress-bar > a {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.rating-progress-bar:hover {
  text-decoration: underline;
  color: #f19101;
}

.rating-progress-bar:hover .rating-bar {
  border: 0.1rem #f19101 solid;
}

.rating-bar {
  background-color: #e4e4e491;
  border: 0.1rem #d4d4d491 solid;
  border-radius: 0.3rem;
  width: 70%;
  height: 2.3rem;
  margin: 0.8rem 1rem;
  padding: 0;
}

.rating-bar > div {
  background-color: #f19d01;
  height: 2.2rem;
  border-radius: 0.3rem;
}

.rating-bar > div:not(.zero) {
  border: 0.1em #f19101 solid;
}

/* =====================================================================================
   PAGE CSS
   ===================================================================================== */
.refinement-col a {
  color: black;
}

.products-search-container a:hover {
  color: #fea21c;
}

.products-search-row {
  border: 0.1rem solid rgba(235, 230, 230, 50);
  margin-bottom: 1rem;
  min-height: 13rem;
  max-height: 15rem;
}

.products-search-img {
  padding: 1rem 1rem;
  background-color: #f8f8f8;
  max-height: 14rem;
}

.products-search-img img {
  max-height: 12rem;
}

.product-title h5 {
  color: #161616;
  font-weight: 500;
}

.products-search-content {
  padding: 0.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  border: 0.1rem solid black;
}

.product-details-image-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.imageThumbnail {
  min-width: 5rem;
}

.imageThumbnail-list > li {
  border: 0.1rem solid transparent;
  padding: 0;
  margin-bottom: 0.2rem;
}

.imageThumbnail-list > li:hover {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 3px #7fffd4;
}

.product-details-carousel-img,
.main-image-item img {
  max-height: 28rem;
}

#cart-page-container {
  background-color: #e9ecec;
}

.cart-item {
  max-height: 20rem;
}

.cart-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile-name {
  display: inline-block;
  vertical-align: middle;
}

/* Progress bar */
.order-progress-bar {
  position: relative;
  display: flex;
}

.order-progress-bar > div {
  border-top: 0.4rem #c0c0c0 solid;
  color: #c0c0c0;
  padding: 1rem;
  font-weight: bold;
  flex: 1;
}

.order-progress-bar > div.enabled {
  border-top-color: #ff8000;
  color: #ff8000;
}

.order-progress-bar i {
  display: none;
}

div.active > i {
  position: absolute;
  z-index: 5;
  display: block;
  top: 1rem;
}

.payment-main-container {
  min-height: 50rem;
}

.order-place-main-container {
  padding: 0 5rem;
  /* margin: 0 10rem; */
}

#payment-form {
  min-width: 35rem;
  max-width: 40rem;
}

/* =====================================================================================
   Responsive Layout
   ===================================================================================== */

.flex-fill {
  flex: 1 1 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #nav-cart-count {
    top: -0.2rem;
  }
  .crd {
    height: 19rem;
  }
  .crd h5,
  .product-title h5,
  .crd-footer small,
  h5.cart-item-header {
    font-size: 0.7rem;
  }

  .cart-item-action small {
    font-size: 0.5rem;
  }

  select.cart {
    font-size: 0.4rem;
    min-width: 2rem;
    max-width: 3rem;
  }

  .card-grid small {
    font-size: 0.4rem;
  }
  .crd-body img {
    max-height: 11rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #nav-cart-count {
    top: -0.2rem;
  }
  .crd {
    height: 23rem;
  }
  .crd-head > h5,
  .product-title h5,
  .crd-footer small {
    font-size: 0.7rem;
  }

  .card-grid small {
    font-size: 0.55rem;
  }
  .crd-body img {
    max-height: 15.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #search-nav-container > *:not(#search-form):hover {
    border: 0.15rem solid #ffffff;
  }
  #nav-cart-count {
    top: 0.3rem;
  }
  .crd {
    height: 24rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .crd {
    height: 26rem;
  }

  .crd-head > h5,
  .product-title h5,
  .crd-footer small {
    font-size: 1rem;
  }
  .card-grid small {
    font-size: 0.7rem;
  }

  .crd-body img {
    max-height: 18rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
