html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ==========================================================================
   Color
   ========================================================================== */
.grey {
  color: #828282;
}

.blue {
  color: #306faa;
}

.dark-grey {
  color: #2e2e2e;
}

.green {
  color: #4ba54b;
}

.dark-red {
  color: #a02020;
  font-weight: bold;
  font-size: larger;
}

/* ==========================================================================
   Responsive Layout
   ========================================================================== */

.flex-fill {
  flex: 1 1 auto;
}

/* ==========================================================================
   Header, Main, Footer
   ========================================================================== */

/* ==========================================
   Header
   ==========================================*/

#search-nav-container > *:not(#search-form) {
  padding: 0.1rem 0.2rem;
  margin-right: 0.5rem;
  border: 0.15rem solid transparent;
}

#search-nav-container > *:not(#search-form):hover {
  border: 0.15rem solid #ffffff;
}

button.search {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f08804;
  border: none;
  border-radius: 0 0.3rem 0.3rem 0;
  width: 4rem;
  right: 0.8rem;
}

#search-select {
  width: 5rem;
  color: #404040;
  border-radius: 0.3rem 0 0 0.3rem;
  cursor: pointer;
}

#search-input {
  border-radius: 0 0.3rem 0.3rem 0;
}

#nav-cart-count {
  position: absolute;
  /* left: 13px; */
  right: 65px;
  top: 13px;
  justify-content: center;
  color: #f08804;
  font-weight: bold;
}

.nav-cart-text-container .nav-line-2 {
  margin-top: 10px;
  margin-left: -8px;
}

.nav-line-1,
.nav-line-2 {
  font-size: 0.9rem;
  font-weight: 500;
  color: floralwhite;
}

/* ============================
   Dropdown
   ============================*/

#sign-in-dropdown {
  display: inline-block;
}

#drop-down-content {
  position: absolute;
  z-index: 2;
  display: none;
  right: 2rem;
  top: 4rem;
  width: 37rem;
  height: 28rem;
  padding: 1rem 1rem;
  background-color: #ffffff;
  margin: 0rem;
  margin-top: 0.4rem;
  border: 0.1rem solid #c0c0c0;
  border-radius: 0.2rem;
  font-size: small;
}

#drop-down-content::before {
  content: "";
  position: absolute;
  z-index: 2;
  border-color: transparent transparent #ffffff transparent;
  border-style: solid;
  border-width: 1rem;
  width: 0;
  height: 0;
  right: 10.5rem;
  top: -1.8rem;
}

#sign-in-dropdown:hover #drop-down-content {
  display: block;
}

.drop-down-list a:hover span {
  text-decoration: underline;
  color: #f08804;
}

.drop-down-list li {
  margin: 0.5rem 0;
}

/* ==========================================
   Main
   ==========================================*/

main {
  /* max-width: 2156px; */
  margin: 0 auto;
}

.myCarousel {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  /* z-index: 1; */
}

.main-container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

/* ==========================================
   Footer
   ==========================================*/

footer {
  color: floralwhite;
  padding: 3rem 1rem;
}

footer#footer1 {
  background-color: #232f3e;
}

footer#footer2 {
  background-color: #131a22;
}

footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: underline;
}

.nav-footer-col-header {
  color: floralwhite;
  font-weight: bolder;
}

ul.nav-footer-link {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

ul.nav-footer-link li {
  margin: 0.2rem 0;
}

div.navFooter {
  max-width: 2156px;
  margin: 0 auto;
}

ul.nav-footer-link a {
  color: rgb(223, 218, 212);
}

table.navFooterMoreOnAmazon {
  max-width: 2156px;
  margin: 0 auto;
}

td.navFooterDescItem {
  padding: 1rem 1.4rem;
  max-width: 15rem;
  vertical-align: top;
}

td.navFooterDescItem a {
  color: rgb(223, 218, 212);
}

span.navFooterDescText {
  color: #928f8c;
}

/* ==========================================================================
   HTML Elements Styles
   ========================================================================== */

/* ==========================================
   Font
   ==========================================*/

/* ==========================================
   Img
   ==========================================*/

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

div.img-logo {
  max-width: 10rem;
  max-height: fit-content;
}

div.img-cart {
  max-width: 2.6rem;
  max-height: fit-content;
}

div.img-xs {
  width: 8rem;
  height: 8rem;
}

div.img-sm {
  width: 24rem;
  height: 24rem;
}

div.img-md {
  width: 32rem;
  height: 32rem;
}

div.img-lg {
  width: 45rem;
  height: 45rem;
}

div.img-xl {
  width: 60rem;
  height: 60rem;
}

div.img-carousel {
  /* width: 300rem; */
  height: auto;
}

div.img-xs img,
div.img-sm img,
div.img-md img,
div.img-lg img,
div.img-xl img {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

img.responsive {
  max-width: 100%;
}

/* ==========================================
   Anchor
   ==========================================*/

a {
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}

/* ==========================================
   List
   ==========================================*/

ul.no-list-style {
  list-style: none;
  padding: 0;
}

/* ==========================================
   Card
   ==========================================*/

.crd {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  margin: 0.5rem 0;
  background-color: white;
}

.crd > * {
  margin-bottom: 0.2rem;
  padding: 1rem 1rem 0 1rem;
}

.crd-body {
  flex: 1 1 auto;
  /* background-color: #f08804; */
}

.crd-body img {
  max-height: 100%;
  min-height: 80%;
  min-width: 80%;
  max-width: 100%;
}

.crd-toe {
  flex: 0 0 10%;
}

.vl {
  border-left: 0.1rem solid #c0c0c070;
  padding-left: 3rem;
}

.box {
  border: 0.1rem solid grey;
  border-radius: 0 0 8px 8px;
  position: relative;
  padding: 1rem 1.5rem;
}

.card-normal {
  /* display: flex;
  flex-wrap: wrap; */
  /* aspect-ratio: 2/3; */
  /* max-width: 15rem; */
  height: 30rem;
  width: 25rem;
  margin: 0.5rem 0;
  padding: 1em 1em;
  /* border: 0.1rem #c4c4c4 solid; */
  /* border-radius: 0.5rem; */
  /* max-height: 30rem;
  min-height: 30rem; */
  background-color: white;
}

.card-ui-header > h5 {
  font-weight: 700;
}

.card-ui-body {
  min-height: 24rem;
}

.card-ui-body > img {
  min-width: 25%;
  height: auto;
}

.card-normal.center {
  justify-content: center;
}

.card-normal-body > * {
  margin-bottom: 1.8rem;
  word-wrap: break-word;
}

/* 
.card-header {
  flex-basis: 100%;
} */

.card-normal-content {
  flex-basis: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 0.5rem; */
  gap: 1rem 1rem;
  background-color: white;
}

/* ==========================================
   Input, Select, Table, Button
   ==========================================*/
input,
select,
textarea,
button {
  padding: 1rem;
  border: 0.1rem #a4a4a4 solid;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover,
select:hover {
  -webkit-filter: brightness(90%);
  -moz-filter: brightness(90%);
  -o-filter: brightness(90%);
  -ms-filter: brightness(90%);
  filter: brightness(90%);
  cursor: pointer;
}

button.rect {
  background-color: #ffd814;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  width: 15rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1rem;
}
